@import "tailwindcss";
@import "tw-animate-css";

body {
  /* Base gradient background with animation */
  background: linear-gradient(to right, #001f3f, #000000);
  background-size: 600% 600%;
  animation: gradientAnimation 15s ease infinite;
  height: 100%;
  margin: 0;
  color: white;
  font-family: 'Inter', sans-serif;
  cursor: url('https://www.example.com/path/to/cursor-icon.png'), auto;
}

/* Gradient animation */
@keyframes gradientAnimation {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

.BTN {
  border-radius: 4px;
  color: white;
  background: var(--Colour-Button, linear-gradient(299deg, #0A767B -7.7%, #00A7D6 97.12%));
  padding: 8px 24px;
  gap: 8px;
  border: 1px solid #00ccff;
}
.BTN:hover{
  background: var(--Colour-Button, linear-gradient(299deg, #05dae6 -7.7%, #0a7391 97.12%));
  box-shadow: 4px 8px 24px 4px rgb(43, 191, 228);
  transition: 0.3s;
}
.text-color{
  color: #019fc7;
}


@layer components {
  .underline-animation {
    position: relative;
    display: inline-block;
  }

  .underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: #029bc0; 
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
